﻿@model Aviva_FizzBuzz_Tapas_TDD.ViewModel.FizzBuzzViewModel
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/StyleSheets/jquery.dataTables.min.css" rel="stylesheet" />
<table id="displayFizzBuzzNumber" >
    <thead>
        <tr>
            <th>FizzBuzz Numbers</th>           
        </tr>
    </thead>
    <tbody>
@foreach (var fizzBuzzNumber in @Model.FizzBuzzNumbers)
{
    <tr>
        <td><span>@fizzBuzzNumber.DisplayText</span> </td>
    </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
            $('#displayFizzBuzzNumber').DataTable({
            createdRow: function (row) {
                $('td', row);
            },
            ordering: false,
            searching: false,
            pagingType: "simple",
            type: "POST",
            bLengthChange: false,
            iDisplayLength: 20
        });
    });
    
   
</script>
