﻿@model Aviva_FizzBuzz_Tapas_TDD.ViewModel.FizzBuzzViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<body>
    <div> 
        @using (Html.BeginForm("Submit", "FizzBuzz", FormMethod.Post))
        {
            <i>Enter Maximum Number:</i>@Html.TextBoxFor(m => m.MaxNumber)
            <input id="Submit1" type="submit" value="Click Here" /><br />
            @Html.ValidationMessageFor(x => x.MaxNumber)
            <br />

            if (Model != null)
            {
                @Html.Partial("Display", Model)
            }
        }
    </div>
</body>
</html>
